/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    	line-height: 1.4em;
}

.libre-franklin-<uniquifier> {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
    
    background: #efefef;
    color: #fff;
	
	
}




#container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    text-align: center;     /* Center text inside elements */
    height: 100vh;          /* Full viewport height */
    background-color: rgba(0,0,0,0.4);
}


h1{
    font-size: 36px;
    font-family:"Libre Franklin", sans-serif;
    font-weight: normal;
}

h2{
    font-family: "Libre Franklin", cursive, sans-serif;
    font-size: 24px;
    font-weight: normal;
}

nav ul{
    list-style: none;
}

nav a{
    text-decoration: none;
    background: #000;
    color: white;
    padding: 10px 80px;
    border-radius: 5px;
    transition: background 300ms ease;
    font-size: 20px;
    font-family: "Libre Franklin", sans-serif;
}

nav a:hover {
    background: #048194;
}

.background-clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
    z-index: -1; /* Keeps the video content */
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */


@media (max-width: 768px) {
    h1 {
        font-size: 60px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 100px;
    }
}


